@model HomeViewModel;

    @*it will be replaced by the ViewStart Layout 
        @{ Layout = "_Layout"; }*@

@*html:5 *@

<h2>@Model.Title</h2>
@* we loop through all the elephaitems *@
@foreach(var ele in Model.Elephaitems)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@ele.ImageThumbnailUrl" alt="" height="320"/>
            <div class="caption">
                <h3 class="pull-right">@ele.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@ele.Id">@ele.Name</a>
                </h3>
                <p>@ele.ShortDescription</p>
            </div>
        </div>
    </div>
}

